@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


body {
  font-family: "Poppins", sans-serif;
}

:root {
  --color-primary: #e6ccff;
}

::-webkit-scrollbar {
  display: none;
}

.reset-tw:not(pre):not(code) {
  all: revert;
}

.loader div:nth-child(2) {
  animation-delay: 0.2s;
}

.loader div:nth-child(3) {
  animation-delay: 0.4s;
}